In [2]:
a=10
b=20
c=a+b
c

30

In [7]:
def countfre(list1):
    frequency={}
    for i in list1:
        if i in frequency:
            frequency[i]+=1
        else:
            frequency[i]=1
    print(frequency)

list1=['a','a','b','b','b','c','c','c','c']
countfre(list1)

{'a': 2, 'b': 3, 'c': 4}

In [8]:
def countfre(list2):
    frequency1={}
    for i in list2:
        if i in frequency1:
            frequency1[i]+=1
        else:
            frequency1[i]=1
    
    print(frequency1)

list2=["Hingoli","Hingoli","Hingoli","Hingoli","Wasim","Wasim","Wasim","Vasmat","Vasmat","Beed"]
countfre(list2)

{'Hingoli': 4, 'Wasim': 3, 'Vasmat': 2, 'Beed': 1}

In [2]:
import pandas as pd

records={
    "Name": ["A","B","C","D"],
    "Marks":["90","96","67","35"],
    "Result":["P","P","P","F"]
}

df=pd.DataFrame(records)
df

  Name Marks Result
0    A    90      P
1    B    96      P
2    C    67      P
3    D    35      F

In [15]:
import numpy as np
import pandas as pd

GFG_dict={"G1":[10,20,30,40],
          "G2":[25, np.NaN, np.NaN, 29],
          "G3":[15, 14, 17, 11],
          "G4":[21, 22, 23, 25]}

#create a dataframe
gfg=pd.DataFrame(GFG_dict)

mean_value=gfg['G2'].mean()

gfg["G2"].fillna(value=mean_value, inplace=True)
print('Updated DataFrame:')
print(gfg)

Updated DataFrame:
   G1    G2  G3  G4
0  10  25.0  15  21
1  20  27.0  14  22
2  30  27.0  17  23
3  40  29.0  11  25

C:\Users\Rohitshrimangle\AppData\Local\Temp\ipykernel_16064\3243396482.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gfg["G2"].fillna(value=mean_value, inplace=True)

In [17]:
import pandas as pd
import numpy as np

GFG_dict={"G1":[10,20,30,40],
          "G2":[25,np.NaN,np.NaN,29],
          "G3":[21,22,23,24]}

gfg=pd.DataFrame(GFG_dict)

mean_value=gfg["G2"].mean()

gfg["G2"].fillna(value=mean_value, inplace=True)

print("Updated DataFrame")

print(gfg)

Updated DataFrame
   G1    G2  G3
0  10  25.0  21
1  20  27.0  22
2  30  27.0  23
3  40  29.0  24

C:\Users\Rohitshrimangle\AppData\Local\Temp\ipykernel_16064\1120163469.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gfg["G2"].fillna(value=mean_value, inplace=True)