In [2]:
a=10
b=20
c=a+b
c

30

In [7]:
def countfre(list1):
    frequency={}
    for i in list1:
        if i in frequency:
            frequency[i]+=1
        else:
            frequency[i]=1
    print(frequency)

list1=['a','a','b','b','b','c','c','c','c']
countfre(list1)

{'a': 2, 'b': 3, 'c': 4}

In [8]:
def countfre(list2):
    frequency1={}
    for i in list2:
        if i in frequency1:
            frequency1[i]+=1
        else:
            frequency1[i]=1
    
    print(frequency1)

list2=["Hingoli","Hingoli","Hingoli","Hingoli","Wasim","Wasim","Wasim","Vasmat","Vasmat","Beed"]
countfre(list2)

{'Hingoli': 4, 'Wasim': 3, 'Vasmat': 2, 'Beed': 1}

In [2]:
import pandas as pd

records={
    "Name": ["A","B","C","D"],
    "Marks":["90","96","67","35"],
    "Result":["P","P","P","F"]
}

df=pd.DataFrame(records)
df

  Name Marks Result
0    A    90      P
1    B    96      P
2    C    67      P
3    D    35      F

In [1]:
import numpy as np
import pandas as pd

GFG_dict={"G1":[10,20,30,40],
          "G2":[25, np.NaN, np.NaN, 29],
          "G3":[15, 14, 17, 11],
          "G4":[21, 22, 23, 25]}

#create a dataframe
gfg=pd.DataFrame(GFG_dict)

mean_value=gfg['G2'].mean()

gfg["G2"].fillna(value=mean_value, inplace=True)
print('Updated DataFrame:')
print(gfg)

Updated DataFrame:
   G1    G2  G3  G4
0  10  25.0  15  21
1  20  27.0  14  22
2  30  27.0  17  23
3  40  29.0  11  25

C:\Users\Rohitshrimangle\AppData\Local\Temp\ipykernel_1916\3243396482.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gfg["G2"].fillna(value=mean_value, inplace=True)

In [11]:
import pandas as pd
import numpy as np

GFG_dict={"G1":[10,20,30,40],
          "G2":[25,np.NaN,np.NaN,29],
          "G3":[21,22,23,24]}

gfg=pd.DataFrame(GFG_dict)

print(gfg)

mean_value=gfg["G2"].mean()

gfg["G2"].fillna(value=mean_value, inplace=True)

print("Updated DataFrame")

print(gfg)

   G1    G2  G3
0  10  25.0  21
1  20   NaN  22
2  30   NaN  23
3  40  29.0  24
Updated DataFrame
   G1    G2  G3
0  10  25.0  21
1  20  27.0  22
2  30  27.0  23
3  40  29.0  24

C:\Users\Rohitshrimangle\AppData\Local\Temp\ipykernel_1916\763906774.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  gfg["G2"].fillna(value=mean_value, inplace=True)

In [14]:
import pandas as pd

details={
    'Name':['Ankit','Aishwarya','Shaurya','Shivangi'],
    'Age':[23,21,22,21],
    'University':['BHU','JNU','DU','BHU'],
}

df=pd.DataFrame(details)

print(df)

df=pd.DataFrame(details, index=['a','b','c','d'])
df

        Name  Age University
0      Ankit   23        BHU
1  Aishwarya   21        JNU
2    Shaurya   22         DU
3   Shivangi   21        BHU

        Name  Age University
a      Ankit   23        BHU
b  Aishwarya   21        JNU
c    Shaurya   22         DU
d   Shivangi   21        BHU

In [19]:
import pandas as pd

details={
    "Names":['Rohit','Rahul','Shrihari'],
    "Age":[28,28,29],
    "University":['PU','GU','LU']
}

df=pd.DataFrame(details)
print(df)

df_index=pd.DataFrame(details, index=['a','b','c'])
df_index

      Names  Age University
0     Rohit   28         PU
1     Rahul   28         GU
2  Shrihari   29         LU

      Names  Age University
a     Rohit   28         PU
b     Rahul   28         GU
c  Shrihari   29         LU

In [11]:
import pandas as pd

records={
    "Names":['Tom','Jack','Lucky','Bob','Jerry','Alice','Thomas','barbie'],

    "Marks":[9,19,20,17,11,18,5,8],

    "Status":['Fail','Pass','Pass','Pass','Pass','Pass','Fail','Fail']
}

df=pd.DataFrame(records)
print(df)

df1=df.head(3)
df1

    Names  Marks Status
0     Tom      9   Fail
1    Jack     19   Pass
2   Lucky     20   Pass
3     Bob     17   Pass
4   Jerry     11   Pass
5   Alice     18   Pass
6  Thomas      5   Fail
7  barbie      8   Fail

   Names  Marks Status
0    Tom      9   Fail
1   Jack     19   Pass
2  Lucky     20   Pass

In [32]:
import pandas as pd

Library={
    "Books":['English','Marathi','Hindi','History','Science','Maths'],
    "Price":[100,150,125,200,250,175],
    "Rating":[3.5,4.5,3,4,3.7,5]
}

df=pd.DataFrame(Library)
print(df,'\n')

df1=df.head(3)
#print(df1,'\n')

print(df1[['Books','Price']])

     Books  Price  Rating
0  English    100     3.5
1  Marathi    150     4.5
2    Hindi    125     3.0
3  History    200     4.0
4  Science    250     3.7
5    Maths    175     5.0

     Books  Price
0  English    100
1  Marathi    150
2    Hindi    125