In [1]:
import copy

a=[1,[2,3]]
b=copy.copy(a)
b[1][1]=10
print(a)

[1, [2, 10]]

In [14]:
a=257
b=257
print(b)
c=a is b
print(c)
print(id(a))
print(id(b))

257
False
2873245498512
2873245498288

In [1]:
a="Rohit"
for i in a:
    print(i)

R
o
h
i
t

In [ ]:
a="Machine Learning"
print(len(a))

16

In [14]:
a="Machine Learning"
count=0
for i in a:
    count=count+1
print(count)

16

In [17]:
a="This is an orange juice"
" orange" in a

True

In [56]:
a="Rohit is Studying very hard"
v=["a","e","i","o","u"]
space=[" "]
s=0
count=0
c=0
for i in a.lower():
    if i in v:
        count=count+1
    elif i.isalpha():
        c=c+1
    elif i in space:
        s=s+1
print("Total count:",len(a))
print("Vowels:",count)
print("consonents",c)
print("space:",s)

Total count: 27
Vowels: 7
consonents 16
space: 4

In [64]:
a="Rohit is Studying Hard"
upper=0
lower=0
special=0
digit=0

for i in a:
    if i.isupper():
        upper=upper+1
    elif i.islower():
        lower=lower+1
    elif i.isdigit():
        digit=digit+1
    else:
        special=special+1
print("Count of Upper:",upper)
print("Count of Lower:",lower)
print("Count of digit:",digit)
print("Count of special:",special)

Count of Upper: 3
Count of Lower: 16
Count of digit: 0
Count of special: 3

eo, ae a oo a

In [104]:
a="Hello, have a good day"
v= "aeiouAEIOU"
del_con=""

for i in a:
    if i in v or not i.isalpha():
        del_con+=i
print(del_con)

eo, ae a oo a

In [105]:
a="Hello, have a good day"
v=['a','e','i','o','u','A','E','I','O','U']
del_con=[]

for i in a:
    if i in v:
        del_con.append(i)

print(del_con)

['e', 'o', 'a', 'e', 'a', 'o', 'o', 'a']

In [109]:
a='rohitshrimangle'
b=a[0:8]
c=a[10:]
d=b+c
d

'rohitshrangle'

In [123]:
a='rohit'
b=a[0]
print(b)
c=a[1:-1]
print(c)
d=a[-1]
print(d)
e=d+c+b
e

r
ohi
t

'tohir'

In [130]:
a='Rohit is Studying Data Science'
b=a.split()
print(b)
c=list(set(b))
print(c)
for i in c:
    print(i,':',c.count(i))

['Rohit', 'is', 'Studying', 'Data', 'Science']
['Science', 'is', 'Studying', 'Data', 'Rohit']
Science : 1
is : 1
Studying : 1
Data : 1
Rohit : 1

In [140]:
a='Rohit is Studying Data Science and Data Science is good'
b=a.split()
print(b)
c=set(b)
print(c)
for i in c:
    print(i,'::',b.count(i))

['Rohit', 'is', 'Studying', 'Data', 'Science', 'and', 'Data', 'Science', 'is', 'good']
{'Science', 'and', 'good', 'is', 'Studying', 'Data', 'Rohit'}
Science :: 2
and :: 1
good :: 1
is :: 2
Studying :: 1
Data :: 2
Rohit :: 1

In [156]:
#count given character occurance
string1='rohit shrimangle'
count=0

for i in string1:
    if i=="r":
        count=count+1
print(count)

2

In [169]:
string1="rohit"
for i in string1:
    print(i, string1.count(i))

r 1
o 1
h 1
i 1
t 1

In [170]:
a="rohit shrimangle"
b=a.upper()
b

'ROHIT SHRIMANGLE'

In [171]:
a="ROHIT SHRIMANGLE"
b=a.lower()
b

'rohit shrimangle'

In [172]:
a="rohit shrimangle"
b=a.capitalize()
b

'Rohit shrimangle'

In [173]:
string1="Rohit Shrimangle"
string1=string1.replace("Rohit","Revati")
string1

'Revati Shrimangle'

In [179]:
sample_string="32.054,23"
sample_string=sample_string.replace(".","@")
sample_string=sample_string.replace(",",".")
sample_string=sample_string.replace("@",",")
sample_string

'32,054.23'

In [3]:
a=[1,2,3,4,5]
b=max(a)
b

5

In [4]:
a=[100,10,20,70,0,200,5,99,67]
a.sort()
print(a)
print("Largest number:",max(a))

[0, 5, 10, 20, 67, 70, 99, 100, 200]
Largest number: 200

In [13]:
def swap(a):
    a[0],a[-1]=a[-1],a[0]
    return a
print("original list:",a)
print("Exchange 1st and last numbers with each other:",swap(a))

original list: [200, 5, 10, 20, 67, 70, 99, 100, 0]
Exchange 1st and last numbers with each other: [0, 5, 10, 20, 67, 70, 99, 100, 200]

In [25]:
def swapPositions(list, pos1,pos2):
    # popping both the elements from list
    first_ele=list.pop(pos1)
    second_ele=list.pop(pos2-1)

    #inserting in each others positions
    list.insert(pos1, second_ele)
    list.insert(pos2, first_ele)

    return list
#drivers function

list= [23,65,19,90]
pos1,pos2 =1,3

print(swapPositions(list,pos1-1,pos2-1))

[19, 65, 23, 90]

In [29]:
a=[1,2,3,4]
a.reverse()
a

[4, 3, 2, 1]

In [32]:
a=[1,2,3,4]
b=tuple(reversed(a))
print(b)

(4, 3, 2, 1)

In [40]:
a=[1,2,3,4]
b=a[::-1]
b

[4, 3, 2, 1]

In [41]:
a=[1,2,3,4]

def abc(a):
    return(a[::-1])

print(abc(a))

[4, 3, 2, 1]

In [74]:
a=["apple", "Banana", "Chiku","grapes", "apple", "grapes","Jackfruit", "Watermelon", "Muskmelon", "Muskmelon", "Banana", "grapes"]
b=set(a)
for i in b:
    print(i, a.count(i))

Jackfruit 1
Watermelon 1
grapes 3
Chiku 1
Banana 2
apple 2
Muskmelon 2

In [108]:
a=[1,2,3,4]
b=0
count=0
for i in a:
    count=count+1
    b=b+i

print("Numbers of Elements present in a list:",count)
print("Sum of all the elements in a list:",b)

Numbers of Elements present in a list: 4
Sum of all the elements in a list: 10

In [82]:
a=[1,2,3,4]
b=sum(a)
b

10

In [109]:
a=[1,2,3]
b=1
for i in a:
    b=b*i
print(b)

6

In [121]:
a=[1,2,3,4]
b=1
def mul_list(a,b):
    for i in a:
        b=b*i
    return b
    
print(mul_list(a,b))

24

In [125]:
def area_circle(r,PI):
    area=r*r*PI
    return area
r=5
PI=3.14
print(area_circle(r,PI))

78.5

In [153]:
lst=[]
n=int(input("Enter number of elements"))
for i in range(0,n):
    ele=int(input())
    lst.append(ele)

print(n)
print(lst)
m=int(input("Enter elements which you want to delete:"))
if m in lst:
    lst.remove(m)
else:
    print("Element not found")
print(lst)

3
[1, 2, 33]
Element not found
[1, 2, 33]

In [170]:
a=[2,3,4]
srd_lst=[]
for i in a:
    i=i*i
    srd_lst.append(i)
print(srd_lst)

[4, 9, 16]

In [169]:
a=[2,3,4,5]
squre=[i*i for i in a]
squre

[4, 9, 16, 25]

In [17]:
even=[]
odd=[]
even_count=0
odd_count=0
for i in range(0,151):
    if i%2==0:
        even.append(i)
        even_count=even_count+1
    else:
        odd.append(i)
        odd_count=odd_count+1

print(even,even_count)
print(odd,odd_count)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150] 76
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149] 75

In [34]:
#4,6,8,10,3,5,7 and 9

four=[]
six=[]
eight=[]
ten=[]
three=[]
five=[]
seven=[]
nine=[]
for i in range(0,151):
    if i%4==0:
        four.append(i)
    if i%6==0:
        six.append(i)
    if i%8==0:
        eight.append(i)
    if i%10==0:
        ten.append(i)
    if i%3==0:
        three.append(i)
    if i%5==0:
        five.append(i)
    if i%7==0:
        seven.append(i)
    if i%9==0:
        nine.append(i)

print(four)
print(six)
print(eight)
print(ten)
print(three)
print(five)
print(seven)
print(nine)

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100, 104, 108, 112, 116, 120, 124, 128, 132, 136, 140, 144, 148]
[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144, 150]
[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]
[0, 7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147]
[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144]

In [50]:
a=[1,2,3,"rohit","shrimangle",1.1,2.3]
integer=[]
string=[]
float_value=[]

for i in a:
    if type(i)==int:
        integer.append(i)
    elif type(i)==str:
        string.append(i)
    elif type(i)==float:
        float_value.append(i)

print(integer)
print(string)
print(float_value)

[1, 2, 3]
['rohit', 'shrimangle']
[1.1, 2.3]

In [51]:
a=[1,2,3,"rohit","shrimangle",1.2,2.3,3.3]

integer_value=[]
string_value=[]
float_value=[]

for i in a:
    if type(i)==int:
        integer_value.append(i)
    elif type(i)==str:
        string_value.append(i)
    elif type(i)==float:
        float_value.append(i)

print(integer_value)
print(string_value)
print(float_value)

[1, 2, 3]
['rohit', 'shrimangle']
[1.2, 2.3, 3.3]

In [64]:
a=[1,2,3,4]
b=[5,6,7,8]
a.append(b)
print(a)

[1, 2, 3, 4, [5, 6, 7, 8]]

In [68]:
b=[1,2,3,4]
a=[5,6,7,8]
a.extend(b)
print(a)

[5, 6, 7, 8, 1, 2, 3, 4]

In [76]:
a=[1,2,3,4,5,6,7,8,9,10]
#b=a[-3]
#b
for i in a:
    if i<max(a):
        print(i)

1
2
3
4
5
6
7
8
9

In [24]:
a=["rohit","rushi","gopal","rohit","rohit"]
b=set(a)
for i in b:
    print(i,a.count(i))

gopal 1
rushi 1
rohit 3

In [35]:
a=[99,100,35,23,98,10,2,6,109]
for i in a:
    b=sorted(a)
print(b)
print(b[-3])

[2, 6, 10, 23, 35, 98, 99, 100, 109]
99

In [51]:
a=['apple','orange','chiku','grapes','mango','mango','mango','chiku','apple']
b={}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

{'apple': 2, 'orange': 1, 'chiku': 2, 'grapes': 1, 'mango': 3}

In [57]:
a=[1,2,3,4,5]
b=[1,2,3]
c=[1,2]

for i in a:
    if i in b and c:
        print(True)

True
True
True

In [62]:
a=[1,2,3,4,5]
b=[1,2,3]
c=[1,2]

print(set(b).issubset(a))
print(set(c).issubset(a))
print(set(a).issubset(b))

True
True
False

In [67]:
a=[1,2,3,4,5]
b=[1,2,3]
c=[1,2]

print(all(x in a for x in b))
print(all(x in a for x in c))
print(all(x in b for x in a))

True
True
False

In [20]:
a = [1, 2, 3]

# print empty subset
print([])

# generate all non-empty subsets
for i in range(len(a)):
    print([a[i]])
for i in range(len(a)):
    for j in range(i+1, len(a)):
        print([a[i], a[j]])

# print full set at the end
print(a)

[]
[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]

In [18]:
a=['apple','chiku','grapes']
b=[]

for i in a:
    c=i[::-1]
    b.append(c)
print(b)

['elppa', 'ukihc', 'separg']

In [23]:
def area_circle(r,pi):
    area=r*r*pi
    return area

r=5
pi=3.14
print(area_circle(r,pi))

78.5

In [32]:
a=[22,1,5,0,77]
b=sorted(a)
print(a)
print(b)
print(b[-1])
print(min(a))
print(max(a))

[22, 1, 5, 0, 77]
[0, 1, 5, 22, 77]
77
0
77

In [55]:
a=[22,1,5,77]
count=[]

for i in a:
    for j in a:
        if i>=j:
            count.append(i)
print(count)

[22, 22, 22, 1, 5, 5, 77, 77, 77, 77]